p {
  font-family: Arial;
  margin-top: 0;
}

.video-title {
  font-family: arial;
  font-size: 30px;
  font-weight: bold;
  width: 500px;
  line-height: 35px;

}

.video-stats {
  font-family: arial;
  font-size: 15px;
  color: grey;


}

.video-author {
  font-family: arial;
  font-weight: bold;
  font-size: 15px;
  color: black;


}

.video-description {
  font-family: arial;
  font-size: 20;
  width: 500px;
  color: rgb(88, 88, 88);
  line-height: 32px;
}

.apple-description {
  font-family: arial;
  font-size: 20;
  color: rgb(247, 244, 244);
  background-color: red;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.shop-link:hover {
  text-decoration: underline;
  font-weight: bold;
}

.shop-link {
  cursor: pointer;
}